.recomended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recomended-friends__title {
  font-size: 12px;
  color: var(--gray);
}

.recomended-friends > span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header > span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtag {
  text-transform: uppercase;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members > img {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 13px;
}

.open-post__members > .divider {
  width: 1px;
  height: 15px;
  background-color: var(--gray);
  margin: 0px 5px;
}

.open-post__members-status {
  color: #ffb0e0;
}

.open-post__photo > img {
  width: 120px;
  height: 100%;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  padding: 5px;
  color: white;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 13px;
}

.open-post__heart-count > i {
  color: white;
  margin-right: 5px
}

@keyframes heartBeating {
  0% {
    color: white;
    transform: none;
  }

  50% {
    color: crimson;
    transform: scale(1.5);
  }

  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeating 1s ease infinite  ;
}

/* 
  heartBeating animation 에서 scale 계수를 작게 사용하면 뭔가 아이콘이 흔들리는 것 처럼 보이는 현상이 있었음.
  will-change 를 통해, 이것을 해결함.
  will-change 는 브라우저에게 요소의 어떤 것이 변화하는지 명시해줘서 효율적임.
  또한, 하드웨어 가속을 하게 만들어준다는듯??? --> 유저가 브라우저에서 가속을 안 켜면 쓸모가 없나?
*/