#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.6);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* 
현재, splash screen 을 가리기 위해 visibilty : hidden 을 사용했음.
그러나, 요소 검사를 해보면 여전히 splash screen 이 존재하는 것으로 확인.
js 를 사용해서 제대로 처리를 해야한다고 함.
*/


#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 1s ease-in-out forwards;
}

/* 
forwards 옵션은, animation 이 종료된 후 
설정한 속성값(@keyframes 내부 to 에 설정한 값)을 유지하도록 하는 옵션.
backwards 는 그 반대로, 요소가 animation 종료 후 원래 값을 갖도록 하는 옵션.
이게 기본값인듯??
*/