.settings-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.settings-setting i {
    margin-right: 20px;
    font-size: 20px;
}

.opacity-07 {
    opacity: 0.7;
}